---
import SectionTitle from '@/components/SectionTitle.astro'
import LiteYouTube from '@/components/LiteYouTube.astro'

const PESAJE_VIDEO_ID = 'M25mIX7iSDg'
const CARA_A_CARA_VIDEO_ID = 'Po71dTrb-CY'
const CHARLA_VIDEO_ID = 'b736y_2jsfE'
const PRESENTATION_VIDEO_ID = '8XWjkURqnlo'
---

<section id="Pesaje concursantes" class="max-w-4xl px-5 py-36 md:mx-auto">
  <SectionTitle class="pb-8" title="Pesaje concursantes" />

  <LiteYouTube
    videoId={PESAJE_VIDEO_ID}
    title="Pesaje concursantes"
    backgroundImage="/images/pesaje.webp"
    withShadowImage={true}
  />
</section>
